@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-100 text-gray-900;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
  }
  
  .carousel-container {
    height: 100vh;
  }
  
  .container {
    @apply max-w-md mx-auto p-4;
  }

 
  @keyframes rotateClockwise {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .carousel-item {
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-item:hover {
    transform: scale(1.1); /* Make the box grow when hovered */
    cursor: pointer;
  }
  
  
  
  
  